{% extends 'base.html' %}

{% block conteudo %}

<div>
    <h1>Produtos</h1>
    <div class="container-produtos">
      {% for p in produto %}
      
      
      <div class="card mx-3 mb-3" style="width: 16rem;">
          {% load static %}
          <img src="{% static p.imagem_path %}" class="card-img-top" alt="..." height="300px">
          <div class="card-body">
            <h5 class="card-title"> {{p.nome}} </h5>
            <p class="card-text"> <i>Categoria</i> {{p.categoria}}</p>
            <p class="card-text"> <i>Descrição</i> {{p.descricao}}</p>
            <h5>R${{p.preco}}</h5>
            <a href="" class="btn btn-primary float-top">COMPRAR AGORA</a>
      
      
          </div>
        </div>
      {% empty %}
        <div> Ainda não há Produtos cadastrados. </div>
      {% endfor %}
      </div>

{% endblock conteudo %}

</main>

