{% extends 'base.html' %}

{% block conteudo %}

<div>
    <h1>Produtos</h1>
    <div class="container-produtos">
        
        <div class="card mx-3 mb-3" style="width: 18rem;">
            <img src="" class="card-img-top" alt="..." height="350px">
            <div class="card-body">
              <h5 class="card-title"> </h5>
              <p class="card-text"> <i></p>
              <p class="class-descricao"></p>
              <p class="card-text"> <i></p>
              <a href="#" class="btn btn-secondary float-top"></a>
            </div>
          </div>
          <div> Ainda não há produtos cadastrados. </div>
        </div>
</div>

{% endblock conteudo %}

</main>

