{% extends 'base.html' %}

{% block conteudo %}

{% load static %}

<style>
  #Titulo {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(23, 150, 229);
    text-transform: uppercase;
    padding: 20px;
  }

  .card {
  flex-wrap: wrap;
  display: inline-block;
}

.banner {
  display: flex;
  text-align: center;
}
</style>
    <div class="banner">
        <img src="{% static 'banner-horizontal-total-otm.jpg' %}" width="100%" height="300" title="Banner">
    </div>

<div>
    <h1 id="Titulo">Produtos</h1>
    <div class="container-produtos">
      {% for p in produto %}
      
      
      <div class="card mx-3 mb-3" style="width: 16rem;">
          {% load static %}
          <img src="{% static p.imagem_path %}" class="card-img-top" alt="..." height="300px">
          <div class="card-body">
            <h5 class="card-title"> {{p.nome}} </h5>
            <p class="card-text"> <i>Categoria</i> {{p.categoria}}</p>
            <p class="card-text"> <i>Descrição</i> {{p.descricao}}</p>
            <h5>R${{p.preco}}</h5>
            <a href="" class="btn btn-primary float-top">COMPRAR AGORA</a>
      
      
          </div>
        </div>
      {% empty %}
        <div> Ainda não há Produtos cadastrados. </div>
      {% endfor %}
      </div>

{% endblock conteudo %}

</main>

