{% extends 'base.html' %}

{% block conteudo %}

{% load static %}

<style>
  #Titulo {
    text-align: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color: rgb(23, 150, 229);
    text-transform: uppercase;
    padding: 20px;
  }

  .card {
  flex-wrap: wrap;
  display: inline-block;
}
</style>
<div class="alert alert-primary" role="alert">
  <h1 id="Titulo">PROMOÇÕES</h1>
  <div>
    
    <div class="container-produtos">
      {% for p in produto %}
        {% if p.desconto > 0 %}
      
      <div class="card mx-3 mb-3" style="width: 16rem;">
          {% load static %}
          <img src="{% static p.imagem_path %}" class="card-img-top" alt="..." height="300px">
          <div class="card-body">
            <h5 class="card-title"> {{p.nome}} </h5>
            <p class="card-text"> <i>Categoria</i> {{p.categoria}}</p>
            <p class="card-text"> <i>Descrição</i> {{p.descricao}}</p>
            <h5>R${{p.preco}}</h5>
            <a href="" class="btn btn-primary float-top">COMPRAR AGORA</a>
      
      
          </div>
        </div>
        {% endif %}
      {% empty %}
        <div> Ainda não há Produtos cadastrados. </div>
        
      {% endfor %}
      </div>
</div>


{% endblock conteudo %}

</main>

