{% extends 'base.html' %}

{% block conteudo %}

<div class="sobre">
    <p>
        Sapatos artesanais feitos no Brasil, com respeito ao homem e ao meio ambiente
Tênis, chinelos, botas, sandálias, os sapatos ecológicos e veganos da Taygra, vindos diretamente do Brasil, permitem que cada um descubra o conforto dos tênis brasileiros.

Desde os materiais até o processo de fabricação e comercialização, a Taygra adota uma abordagem ecológica, ética e justa. Tênis solidários que usam materiais alternativos, uma versão diferente e visionária dos negócios.

Para cada par de sapatos vendido, aproximadamente um euro por par será destinado à reflorestação na Amazônia.

Os tênis Taygra, sapatos para viver: cidade, relaxamento, esportes em ambientes fechados, fitness, skate, dança, capoeira, artes marciais, passeios, esportes aquáticos, ...

100% Brasil
      </p>
    
</div>

{% endblock conteudo %}

</main>

